.register-admin {
    height: 100%;
    display: flex;
    background: url('/public/bg2.jpg') no-repeat center center fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;

}

.logo{
    height: 150px;
    padding-bottom: 1rem;
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.5));
}

.register-admin__content{
        font-family: 'sans-serif';
        color: white;
        padding: 20px 60px;
        border-radius: 20px;
        width: 500px;
        border-radius: 50px;
        background: rgb(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: -1px 2px 54px 0px rgba(0, 0, 0, 0.73);
}


.src{
    width: 25px;
}