/* Estilo general para el perfil */
.profile {
    
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
  }

  .foto_perfil{
    
  }
  
  /* Estilo para el encabezado del perfil */
  .profile-header {
    text-align: center;
    background-color: #f49595;
    color: #fff;    
    padding: 20px;
    border-radius: 5px;
  }
  
  .profile-header h1 {
    font-size: 24px;
    margin: 0;
  }
  

 
  /* Estilo para la información de contacto */
  .contact-info {
    display: flex;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .foto_perfil{
    
    width:100%;
    height:95%;
  }

  .contact-infoderecha{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .contact-infoizquierda{
    display: flex;
    
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Estilo para secciones de contenido */
  .section {
    margin: 20px 20px;
  }
  
  /* Estilo para títulos de sección */
  .section-title {
    font-size: 18px;
    color: #333;
    margin: 0;
  }
  

  
  /* Estilo para botones */
  .button-group {
    display: flex;
    justify-content: space-between; // Esto separará los botones al máximo
    margin-top: 20px; // Agrega margen entre los botones y el contenido superior
  }

  .button {
    background-color: #048a16;
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .button:hover {
    background-color: #f49595;
    color: white;
  }

  /* Estilo para secciones de contenido */
.section {
  margin: 20px 0;
  text-align: center; /* Añadido para centrar el texto */
}

/* Estilo para títulos de sección */
.section-title {
  font-size: 18px;
  color: #333;
  margin: 0;
  text-align: center; /* Añadido para centrar el texto */
} 