.login-form-admin_reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 400px !important; 
    margin: 0 auto; 
    margin-top: 6rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 27rem;
  }
  
  .login-form-admin_reset .field {
    width: 100%;
  }

  .login-form-admin_reset .btnRegister {
    background-color: #f49595; 
    color: white; 
  }

  .login-form-admin_reset .btnRegister:hover {
    background-color: #f36d6d; 
    color: white; 
  }

  .reset-password-container {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px; 
  }
  
  .reset-password-container h2 {
    font-size: 30px !important;
    font-size: 24px; 
    margin-bottom: 10px; 
  }
  