.top-menu-admin {
    &{
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0.5rem; 
    }
    &__logo {
      width: 200px;
      margin-left: 0px;
      position: absolute;
    }

    &__item {
      padding: auto !important;
      color: #ffffff !important;
      font-family: 'Manrope', sans-serif !important;
      font-family: 'Poppins', sans-serif !important;
      text-decoration: none !important;
      border-radius: 50px;
      background: #f49595;
      box-shadow: 5px 5px 10px #e58c8c, -5px -5px 10px #ff9e9e;
      margin: 0 0.5rem;
      height: 40px;
      transition: all 0.3s;
    }
  
    &__item a {
      color: #ffffff;
      text-decoration: none !important;
      transition: color 0.3s !important;
    }

    &__item a:hover {
        color: black;
    }

    &__item button:hover {
      color: black;
  }
    &__item button{
      width: 100%;
    }
    &__item:hover {
      background-color: #ffffff !important;
      color: black !important;
      text-decoration: none !important;
    }
  }

  .logom{
    width: 6rem !important;
    padding: 0;
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.5));
  }
  
  .top-menu-admin__item_name{
    color: #ffffff !important;
    font-size: 16px;
  }
  .carrito{
    width: 30px;
  }
  
  .logout_top{
    width: 20px;
    color: #ffffff;
  }


.botonNavbar{
  padding: 4rem 2rem!important;
  
  margin: 0!important;
}