.login-form-admin_mascotas {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 400px !important;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-form-admin_mascotas .field {
    width: 100%;
    margin-bottom: 20px !important;
}

.titulo-mascotas {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.btn-crea {
    width: 100px;
    background-color: rgb(74, 113, 241) !important;
    color: white !important;
}

.btn-crea:hover {
    background-color: rgb(26, 155, 0) !important;
    color: white !important;
}
