/* Estilos generales del componente ClientesListado */
.admin-layout__content{
    margin-top: 100px;
}
.content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .titulo {
    font-size: 24px;
    font-weight: bold;
    display: grid;
    grid-column: 1/-1;
    justify-items: center;
    align-items: center;
  }

  .titulo-usuarios{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul{
    list-style: none;
  }
  
  .ulC {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;

    
  }
  
  .c {
    width: 400px;
    border: 1px solid #f5f5f5;
    padding: 40px;
    background-color: #f5f5f5;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 10px !important;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 10px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* Estilos de la ventana modal */
  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
   
    
  }
  
  .modal-content {
    background-color: white !important;
    border: 1px solid #ffffff;
    padding: 40px;
    max-width: 400px;
    text-align: left;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px !important;
  }
  
  .titulo2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .input-group {
    margin-bottom: 10px;
  
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #c7c6c6;
      border-radius: 5px !important;
    }
  }
  
  .input-group_emp {
    display: flex;
    align-items: center;

    
    label {
      margin-right: 10px;
    }
  
    input {
      margin-left: 10px;
  
    }
  }
  
  .button_save {
    margin-top: 30px;
    background-color: rgb(42, 89, 245);;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;

  }

  .button_save:hover{
    background-color: rgb(16, 69, 241);;
  }

  .button_close {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
  }

  .cerrar{
    width: 13px;
    display: flex;
  }

  .button1{
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgb(74, 113, 241);
  }

  .button1:hover{
    background-color: rgb(42, 89, 245);
  }

  .paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0; 
    margin-bottom: 40px; 
  }
  
  .btn-16 {

    margin: 0 10px; 
  }
  
  .btn-17 {

    margin: 0 10px; 
  }