.eliminar-button_pet{
    background: rgb(74, 113, 241);
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
}

.eliminar-button_pet:hover{
    background: rgb(40, 82, 221);
    border-radius: 5px;
}   

.foto_mascota{
    width: 100%;
    height: 300px;
}

.ul-mascotas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.title2{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.li-mascotas{
    width: 400px;
}