.content2{
    padding: 20px;
    width: 500px;
    margin: 90px ;
    margin-top: 20px;   
}

.label1 {
    width: 100%;
    text-align: left !important;
    margin-bottom: 5px;
}
.login-form-admin_mascotas {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-form-admin_mascotas .field {
    width: 100%;
    margin-bottom: 10px !important;
}

.titulo-mascotas {
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.contenedorBtn_mascotas{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-crear {
    width: 100px;
    background-color: rgb(74, 113, 241) !important;
    color: white !important;
}

.btn-crear:hover {
    background-color: rgb(26, 155, 0) !important;
    color: white !important;
}
