.register-form-admin{
    height: 100%;
}

.label{
    display: flex;
}
.registrarse_button{
    color: white !important;
    background-color: #eb2592 !important;
}

.registrarse_button:hover{
    color: white !important;
    background-color: #b4126b !important;
}

