.content5 {
    display: flex;
    padding: 20px;
    width: 100%;
    flex-wrap: wrap;    
    
}

.add_car{
    display: inline-block;
}

.add_car {
    width: 60px;  
    height: 60px;
    background: #f5f5f5;
    display: inline-flex;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 6px;
    margin-left: 130px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 2px solid #f5f5f5;
}
.add_car::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    background-color: rgb(16, 192, 0);
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}
.add_car:hover::before {
    transform: scale(1);
}
.add_car img {
    width: 70%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}
.add_car:hover img {
color: #ffffff;
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.titulo-mascotas {
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-column: 1 / -1;
    
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 2000px;

    .producto {
        width: 40%;
        height: 500px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
    }
        .product-info {
            width: 100%;
            text-align: center;
            padding: 10px;
        }

        .product-title {
            font-size: 20px;
            margin: 10px 0;
        }

        .product-price {
            font-size: 18px;
            font-weight: bold;
        }

        .product-description {
            font-size: 16px;
            color: #555;
        }

        .product-image {
            max-width: 300px;
            height: 200px;
        }

        .product-button {
            background-color: rgb(74, 113, 241);
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            margin-top: 10px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: rgb(26, 155, 0);
            }
        }
    
}
