.eliminar-button_pet{
    background: rgb(74, 113, 241);
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
}

.eliminar-button_pet:hover{
    background: rgb(40, 82, 221);
    border-radius: 5px;
}   

.ul-mascotas{
    display: flex;
    flex-wrap: wrap;
}

.title2{
    margin-left: 45px;
}

.li-mascotas{
    width: 400px;
}

.eliminar-button_cita {
    width: 60px;  
    height: 60px;
    background: #ffffff;
    display: inline-flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 2px solid #ffffff;
    transition: 0.3s ease-in-out;
}
.eliminar-button_cita:hover {
    width: 60px;  
    background-color: #e03131;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.eliminar-button_cita img {
    width: 60%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}
.eliminar-button_cita:hover img {
color: #ffffff;
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
